.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  margin: 0;
  
}

.brand-name {
  text-decoration: none;
  color: #ffa101;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  margin-top:0%;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 0.1rem;
}
.navigation-menu li button p {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #31525b;
}

.navigation-menu li button{
  cursor: pointer;
  min-height: 60px;
  max-height: 60px;
  background-color: white;
  border: 0px;
  margin: 0.5rem;
}
.navigation-menu li button p {
  font-family: sans-serif;
  max-height: 60px;
  font-size: 120%;
  margin: 0.1rem;
}

.navigation-menu li button img {
  vertical-align: middle;
  max-width: 30px;

}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #31525b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #31525b;
}

@media screen and (max-width: 1250px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 1250px) {
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li p {
    color: black;
    width: 100%;
    padding: 0 0 0 0;
  }
  .navigation-menu li button{
    width: 100%;
    margin: 0;
  }
  .navigation-menu li:hover, .navigation-menu li button:hover {
    background-color: #eee;
  }
  
}

@media screen and (max-width: 1250px) {
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .navigation-menu.expanded ul {
    display: block;
  }
}



